/* para que las declaraciones funcionen en modo standar */
/*html{
	height: 100% 
}

body{
	height: 100%; 
	margin: 0; 
	padding: 0 
}
*/
/* maps*/
#map_canvas{
	height: 100%; 
	width: 100%;
}

#map{
}

/*Nueva paleta:(azul)0ebfb2 (marron)402f18 (verde)8cbf3b (crudo)dee3e5 (salmon)f74855*/
.nameGroup{
	
}

#noContactsComment{
	background: #dadada;
	color: #999 !important;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 4%;
	margin-top: 2%;
}

#greenNoContacts{
	margin-left: 5%;
	padding-top: 13%;
}

.NameMemGR{
	padding-top: 8%;
	margin-left: 45%;
}

.contactState{
	margin-top: 3%;
	margin-left: 6%;
}

.memCrGr{
	width: 93%;
	height: 51%;
	margin-top: 3%;
	margin-left: 7%;
}

.memCrGr li{
	height: 5em;
	background-color: red;
}

.contactName{
	margin-left: 6%;
	margin-top: 8%;
}

.membersForGr{

}

.formularioCrGr{
	height: 91%;
}

.imgCrGr{
	background-color: red;
	width: 10%;
	height: 7%;
}

.imgMemberCreGr{

}

#previous{
	opacity: 0.5;
	margin-left: 3%;
}

#next{
	opacity: 0.5;
	margin-left: 68%;
	margin-top: 3%;
}

#picturesContainer{
	width: 100%;
	height: 84%;
	background-image: url("../galeriaPrueba/1.jpg");	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#navContacts li{
	padding: 1%;
}

.fieldsetSearch{
}

.navSearch{
	height: 100%;
}

.textNav{
	margin-left: 5%;
	text-align: left;
}

.sname{
	margin-right: 2%;
}

.picColorGr{
	z-index: -99999999!important;
	margin-bottom: 12%;
}

.hrefcolor{
	z-index: -95;
	margin-top: 2%;	
}

#hrefcolor{
	color: #999!important; 
	background-color: #dadada!important;
}

.colorInputGr{
	width: 94%;
	z-index: 99!important;
	margin-top: 5%;
	position: absolute;
	opacity: 0;
}

.contenedorcito{
	height: 24%;
	margin-left: -62%!important;
	min-width: 191%;
	background-color: black;
}

.groupsPartText{
	margin-left: 5%;
}

.spaceSpan{
	margin-left: 3%;
}

.groupsPart{
	background-color: #2a2a2a!important;
}

#usrName{

}

#controlSize{
	width: 101px;
	margin-right: -38px;
	margin-top:3px;
	z-index: -1;	
	-webkit-transform: rotate(-20deg);
  	-moz-transform: rotate(-20deg);
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.icons{
	height: 45px;
    width: 45px;  
}

.nameapp{
	color:white;
}

.gira{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#cameraContainer input{
	filter: alpha(opacity=0);
   	opacity: 0;
   	width: 73%;
	z-index: 501;
	margin-left: -44px;	
}

#cameraContainer{
	width: 45px;
	float: left;
}

#takePicture{
	color:#006988;
	z-index: -55;
	background-color: #89CD44;
	-moz-border-radius: 0px 25px 0px 25px;
	-webkit-border-radius: 0px 25px 0px 25px;   
}

#main-article{
	z-index: -2 !important;
	background-image: url("../img/gplaypattern.png");
}

header{
	z-index: 9 !important;
}


#inputPhotoProfile{
	width: 28%;
	z-index: 501;
	margin-left: -31%;
	opacity: 0;
}

#fotoPerfil{
	border-style: solid;
	border-color: #03b1ff;
	border-width: 1px;
	width: 30%;
	height: 128px;
	margin-top:5%;
	margin-left:10%;
	overflow: hidden;
	-moz-border-radius: 100px 100px 100px 25px;
	-webkit-border-radius: 100px 100px 100px 25px;   
}

#profileUserData{
	float: right;
	width: 50%;
	margin-top: 5%;
}

#fotoPerfil2{
	width: 30%;
}

#fotoPerfil2 img{
	width: 110%;
	margin-left: 15%;
}

#containerPhotoPerfil{
	padding: 1%;
	height: 19%;
}

#iconDown{
	text-align: center;
}

#type{
	margin-top: -11%;
}

#fotoPerfil img{
	width: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
 
#changePic{
	z-index: -229;
	margin-left: 7%;
	width: 30%;
	margin-top: 1%;
}

.addMember{
	background-color: transparent!important;
	margin-top: 9%;
	height: 12% !important;
	border-style: solid;
	border-color: #03b1ff;
	border-width: 1px;
	-moz-border-radius: 0px 25px 0px 25px;
	-webkit-border-radius: 100px 100px 100px 25px;
}

.Initialform{
	padding-top: 33%;
	padding-left: 6%;
	padding-right: 6%;
}

#registView fieldset{
	margin-top:3%;
}

.greenText{
	color:#89CD44;
}

#ftime{
	margin-top: 21%;
}

#newAccButt{
	margin-top:3%;
}

#pic{
	width: 100%;
	height: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.picMember{ 
	width: 65%;
	margin-left: 28%;
}

.dateMemb{
	margin-top: 0%;
	margin-right: 5%;
}

.findmemap img{
	height: 100%;
	width: 100%;
}

.findmemap{
	width: 79%;
	margin-left: 14%;
	margin-top: -61%;
	margin-bottom: 13%;
}

.findspan{

}

.leftspace{
	margin-left: 10%;
}

.leftInfo{
	float: left;
	margin-left: 4%;
	margin-right: 6%;
	width: 26%;
}

.info{
	float: left;
	margin-right: 0;
	margin-left: 12%;
	width: 49%;
}

.info p{
	border-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 5%;
}


.rating {
  unicode-bidi: bidi-override;
	direction: rtl;
	width: 114%;
	margin-top: 6%;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.picMember img{
	width: 100%;
}

.contenidoMember{
	height: 91%;
	width: 87%;
	margin-left: 8%;
	padding-bottom: 32%;
	margin-top: 3%;
	padding-top: 3.3%;
	border-bottom-style: solid;
	-webkit-box-shadow: 0px 6px 7px 0px rgba(0, 175, 227, 0.32);
	-moz-box-shadow:    0px 6px 7px 0px rgba(0, 175, 227, 0.32);
	box-shadow:         0px 6px 7px 0px rgba(0, 175, 227, 0.32);
}

.infoMember{
	padding-left: 6%;
	padding-right: 14%;
	margin-top: 5%;
}

.memberType{
	font-family: 'Princess Sofia', cursive !important;
	margin-top: 7%;
	margin-left: 82%;
	font-size: 3em;
}

#addCon{
	position: fixed;
	bottom: 1%;
}

.numMember{
	float: left;
}

.ulGal{
	height: 20%;
	margin-top: -9%;
}

.ulFri{
	height: 85%;
}

.ulFri li{
	padding: 0px!important;

}

.nota{
	height: 25%;
	width: 99%;
	padding-top: 0.5%;
	margin-bottom: 3%;
}

.contactLi li{
	padding: 2% !important;
	height: 70%;
}

.contactLi{
	height: 89%;
}

#divAddCon{
	height: 11%;
}

#contactsContainer{
	height: 91%;
}

.Grupotimeline{
	height: 85%;
}

.GroupPictures img{
	margin-right: -1.5%;
	height: 36% !important;
	z-index: 5 !important;
	background-image: url("../img/nuevoMarco.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top:9%;
	padding-bottom:9%;
}

#ajusteBottom{
	width: 100%;
	height: 24s%;	
	z-index:-1;
}

#titulo{
	font-family: 'Unkempt', cursive;
	/*color: #AF147F;*/
	font-size:190%;
	margin-top: 8%;
	text-align: center;
}
#members{
	/*background-image: url("../img/brushed.png");
	background-image: url("../img/back_pattern.png");
	background-image: url("../img/billie_holiday.png");
	background-image: url("../img/dimension.png");
	background-image: url("../img/escheresque.png");
	background-image: url("../img/escheresque_ste.png");
	background-image: url("../img/fabric_of_squares_gray.png");
	background-image: url("../img/light_noise_diagonal.png");*/
	background-image: url("../img/gplaypattern.png");
}

#editGrView{
	background-image: url("../img/gplaypattern.png");
}

.createGrView{
	overflow: hidden;
}

.createNg{
	color: #0095c1!important;
	margin-left: 3%;
	margin-top: 2%;
}

.checkContact{
	box-shadow: none !important;
}

.contactsView{
	background-image: url("../img/gplaypattern.png");
}

#contactsLink{
	margin-top: 2%;
}

#main{
	background-image: url("../img/gplaypattern.png");
}

.imgTlineComment{
	margin-left: 7%;
	-moz-border-radius: 100% 100% 100% 0%;
	-webkit-border-radius: 100% 100% 100% 0%;
	padding: 5%;
}

.colorGroup{
	-webkit-box-shadow: inset 4px 0;
	-moz-box-shadow: inset 4px 0;
	-ms-box-shadow: inset 4px 0;
	-o-box-shadow: inset 4px 0;
	box-shadow: inset 4px 0;
}

#difuminador{
	background-color: #999;
	filter: alpha(opacity=10);
   	opacity: 10;
	z-index: -3014;
	margin:0 auto 0 auto;
	margin-top: -91px;
	width: 314px;
	height: 91px;
	-webkit-box-shadow: -3px 0px 36px #999;
  	-moz-box-shadow: -3px 0px 36px #999;
  	box-shadow: -3px 0px 36px #999;
}
.containerGroups{
	height: 54%;
}

#divMap{
	height: 60px;
	width: 60px;
	border: solid 1px #ccc;
}


.spaceicon{
	margin-top: -4%;
}

#lista{
	z-index: 9999999999999;
	height: 63%;
	margin-top: 1%;
}

#colorinput{
	position: absolute;
	z-index: 80;
	margin-left: 86%;
	margin-top: -9%;
	opacity: 0;
}

#txtComment{
	z-index: -80;
}

#ulTimeline{
	height: 68%;
}

.divFei{
	float: left;
	margin-top: -4%;
}

.paddingAside{
	padding-left: 6%;
	padding-right: 6%;
}

.editAside{
	style:none;
}

.addGrAside{
	margin-top:-21%;
}


#logginData{
	margin-top:20%;
}

#userData{
	margin-bottom:20%;
}

#selectedColor {
	border-color: red !important;
	border-bottom: 2px;
	border-style: solid;
}

.hide{
	display: none !important;
}

#progress{
	height: 5%;
	position: absolute;
	margin-top: 11%;
	background-color: #89CD44;
	z-index: -3;
	width: 85%;
	margin-left: -12%;
}

/*img[src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"] {
    display: none;
}*/


.bocadillo {
	width: 81%;
	height: 12%;
	margin-top: 2%;
	margin-left: 7%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #89CD44;
	border-width: 2px;
}

.bocadilloR {
	width: 81%;
	height: 12%;
	margin-top: 2%;
	margin-left: 7%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #009ecc;
	border-width: 2px;
}

.bocadillo:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 1.7em solid transparent;
	border-right: 1.3em solid #89CD44;
	border-bottom: 1.7em solid transparent;
	margin: 1% 0 0 -7%;
}

.bocadilloR:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 1.7em solid transparent;
	border-left: 1.3em solid #009ecc;
	border-bottom: 1.7em solid transparent;
	margin: 1% 0 0 100%;
}

#comments_gr{
	height: 88%;
}

#locatedComments{
	background-image: url("../img/gplaypattern.png");
	padding-top: 1%;
}

.textCloud{
	width: 76%;
	float: left;
	font-size: 100%;
	margin-left: 2%;
	margin-top: 1%;
}

.textCloudR{
	width: 76%;
	float: right;
	font-size: 100%;
	margin-top: 1%;
}

.miniMap{
	margin-left: 81.5%;
	height: 100%;
}

.miniMapR{
	height: 100%;
}

.miniMap img{
	height: 100%;
	border-radius: 15%;
}

.miniMapR img{
	height: 100%;
	border-radius: 15%;
}

#addGeoComment{
	margin-left: 39%;
	margin-top: 9%;
}

.bocadilloInput{
	margin-bottom: 5%;
	width: 81%;
	padding: 1%;
	margin-top: 2%;
	margin-left: 7%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #009ecc;
	border-width: 2px;
}

.bocadilloInput:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top-style: solid;
	border-top-color: transparent;
	border-top-width: 1.35em;

	border-left-style: solid;
	border-left-color: #009ecc;
	border-left-width: 1.2em;

	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-bottom-width: 1.35em;	
	margin:-0.3% 0 0 79%;
}

#wComment{
	width: 100%;
}
